forest-spring/src/main/resources/META-INF/forest-spring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://forest.dtflyx.com/schema/forest"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://forest.dtflyx.com/schema/forest"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the forest framework. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="configuration" type="configurationType">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[
                    Forest的全局配置
                ]]>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="ssl-keystore" type="sslKeystoreType">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[
                    SSL KeyStore配置
                ]]>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="converter" type="converterType">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[
                    Forest数据转换器配置
                ]]>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="parameter" type="converterParameterType">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[
                    Forest数据转换器参数配置
                ]]>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <xsd:element name="var" type="variableType">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[
                    Forest全局变量定义
                ]]>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="client" type="clientType">
    </xsd:element>

    <xsd:element name="scan" type="scanType">
    </xsd:element>


    <xsd:complexType name="configurationType">
        <xsd:sequence>
            <xsd:element ref="var" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="ssl-keystore" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="converter" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="optional">
        </xsd:attribute>
        <xsd:attribute name="backend" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           HTTP后端: <br/>
                           1. httpclient -> Using Httpclient framework. <br/>
                           2. okhttp3 -> Using OkHttp3 framework.
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timeout" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局的请求超时时间，单位为毫秒
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="connectTimeout" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局的请求连接超时时间，单位为毫秒
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="readTimeout" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局的请求读取超时时间，单位为毫秒
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxAsyncThreadSize" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           设置全局最大异步请求线程数
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxAsyncQueueSize" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           设置全局最大异步请求线程池队列大小
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="maxConnections" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           设置全局最大请求连接数
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxRouteConnections" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           设置全局的最大每路由请求连接数
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxRequestQueueSize" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           设置全局的最大请求等待队列大小
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="charset" type="xsd:string" use="optional" default="UTF-8">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局的请求数据字符集
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="retryCount" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局的最大请求失败重试次数
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxRetryCount" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局的最大请求失败重试次数
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxRetryInterval" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局的最大请求重试之间的时间间隔，单位为毫秒
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="baseAddress" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局默认地址(主机名/域名/ip地址 + 端口号)
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="baseAddressSourceClass" type="xsd:token" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局默认的主机地址信息动态来源接口实现类
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="successWhenClass" type="xsd:token" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局请求成功条件回调函数类
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="retryWhenClass" type="xsd:token" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局重试条件回调函数
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="retryer" type="xsd:token" use="optional"
                       default="com.dtflys.forest.retryer.BackOffRetryer">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           获取全局的请求失败重试策略类
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sslProtocol" type="xsd:string" default="TLSv1.2">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           全局的单向HTTPS请求的SSL协议，默认为 TLSv1.2
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="logEnabled" type="xsd:boolean" use="optional" default="true">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           是否允许打印请求/响应日志
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="logRequest" type="xsd:boolean" use="optional" default="true">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           是否允许打印请求/响应日志
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="logResponseStatus" type="xsd:boolean" use="optional" default="true">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           是否允许打印响应内容日志
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="logResponseContent" type="xsd:boolean" use="optional" default="false">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           是否允许打印响应内容日志
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="logHandler" type="xsd:token" use="optional"
                       default="com.dtflys.forest.logging.DefaultLogHandler">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           是否允许打印响应内容日志
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="clientCacheEnabled" type="xsd:boolean" use="optional" default="true">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           是否缓存请求接口实例
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

    </xsd:complexType>


    <xsd:complexType name="variableType" mixed="true">
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           变量名
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           变量值
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="scanType">
        <xsd:attribute name="configuration" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           Forest全局配置ID
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="base-package" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           Forest客户端接口扫描包路径
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="clientType">
        <xsd:attribute name="id" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           Forest客户端ID
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="configuration" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           Forest全局配置ID
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="class" type="xsd:token" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           Forest客户端接口类
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="sslKeystoreType" mixed="true">
        <xsd:attribute name="id" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           SSL Keystore ID
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="xsd:string" use="optional" default="jks">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           SSL Keystore类型
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="protocols" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           SSL协议
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cipher-suites" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="file" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           SSL证书文件
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="keystorePass" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           KeyStore密码
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="certPass" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           Cert密码
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="hostnameVerifier" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           域名验证器
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="sslSocketFactoryBuilder" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           SSL Socket工厂构造器
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="converterType" mixed="true">
        <xsd:sequence>
            <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>

        <xsd:attribute name="dataType" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           数据转换类型，包含以下几种：auto, text, json, xml, binary
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="class" type="xsd:token" use="required">
        </xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="converterParameterType" mixed="true">
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           参数名
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                           参数值
                        ]]>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

</xsd:schema>
